<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
      <h2>Registration Form</h2>
      <form [formGroup]="registrationForm">
        <div class="form-group">
          <label>Username</label>
          <input formControlName="userName" type="text" class="form-control">
        </div>
    
        <div class="form-group">
          <label>Password</label>
          <input formControlName="password" type="password" class="form-control">
        </div>
    
        <div class="form-group">
          <label>Confirm Password</label>
          <input formControlName="confirmPassword" type="password" class="form-control">
        </div>
    
        <div formGroupName="address">
          <div class="form-group">
            <label>City</label>
            <input formControlName="city" type="text" class="form-control">
          </div>
    
          <div class="form-group">
            <label>State</label>
            <input formControlName="state" type="text" class="form-control">
          </div>
    
          <div class="form-group">
            <label>Zip Code</label>
            <input formControlName="zipCode" type="text" class="form-control">
          </div>
        </div>
    
        <button class="btn btn-primary" type="submit">Register</button>
        <button (click)="loadApiData()" class="btn btn-secondary ml-2" type="button">Load API Data</button>
      </form>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>